<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CrudeLyrics</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

</head>
<body>
  <h1> CRUD<span id="e">E</span> <span id="lyrics">L<span id="y">y</span>rics </span> </h1>
  <a class="btn btn-floating pulse"><i class="material-icons">menu</i></a>

  <div class="row">
    <div class="genres">
        <div class="col s10 offset-s1 genre" id="rnb"><a href="#"><img src="../public/images/rnb.jpg"></span></div>
        <div class="col s10 offset-s1 genre" id="kpop"><a href="#"><img src="../public/images/kpop.jpg"></span></div>
        <div class="col s10 offset-s1 genre" id="edm"><a href="#"><img src="../public/images/edm.png"></a></div>
    </div>
  </div>

</body>
</html>
