<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CrudeLyrics</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

</head>
<body>
  <h1> CRUD<span id="e">E</span> <span id="lyrics">L<span id="y">y</span>rics </span> </h1>

<!-- search bar -->
  <!-- <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav> -->

  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large blue-grey homebutton">+</a>
    <ul>
      <li class="waves-effect waves-light"><a href="/">Home</a></li>
      <li class="waves-effect waves-light"><a href="/api">API</a></li>
      <li class="waves-effect waves-light"><a href="/api/songs">Songs</i></a></li>
      <li class="waves-effect waves-light"><a href="https://github.com/janeosaur/CrudeLyrics">Github</i></a></li>
    </ul>
  </div>

  <div class="row">
    <div class="genres">
        <div class="col s10 offset-s1 genre" id="rnb"><a href="/genre/rnb"><img src="/images/rnb.jpg"></span></div>
        <div class="col s10 offset-s1 genre" id="kpop"><a href="/genre/kpop"><img src="/images/kpop.jpg"></span></div>
        <div class="col s10 offset-s1 genre" id="edm"><a href="/genre/edm"><img src="/images/edm.png"></a></div>
    </div>
  </div>

</body>
</html>
