<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CrudeLyrics</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light|Righteous|Fredoka+One|Quicksand" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

</head>
<body>

  <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large grey homebutton">+</a>
    <ul>
      <li class="waves-effect waves-light"><a href="/">Home</a></li>
      <li class="waves-effect waves-light"><a href="/api">API</a></li>
      <li class="waves-effect waves-light"><a href="/api/songs">Songs</a></li>
      <li class="waves-effect waves-light"><a href="https://github.com/janeosaur/CrudeLyrics">Github</a></li>
    </ul>
  </div>

   <div> <img id="sf-banner" src="/images/sfcity.jpg">
     <h1 class="header-main"> CRUDe </h1>
     <div id="lyrics"> Lyrics </div>
     <p class="header-main-intro"> Select a genre to CRUD songs and lyrics!</p>
  </div>

  <div class="row genre">
    <div class="col s5 offset-s1 genre" id="rnb"><a href="/genre/rnb"><img class="tile" src="/images/rnb.jpg"></span></div>
    <div class="col s5 genre" id="edm"><a href="/genre/edm"><img class="tile" src="/images/edm.jpg"></a></div>
    <div class="col s5 offset-s1 genre" id="hiphop"><a href="/genre/hiphop"><img src="/images/hiphop.jpg"></a></div>
    <div class="col s5 genre" id="kpop"><a href="/genre/kpop"><img src="/images/kpop.jpg"></span></div>
  </div>

</body>
</html>
