<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyrics</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/lyrics.js"></script>
  <header>
   <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large dark blue home" href="/">Home</a>
  </header>
  </head>
  <body>

    <div class="lyrics-container">

      <h1> L<span id="y">y</span>rics </h1>

      <div class="lyrics-output">

        <!-- lyrics will be rendered here  -->

      </div>

      <div class="lyrics-buttons">
        <a class="waves-effect waves-light btn light-blue darken-3" id="edit" href="#editModal">edit</a></div>
        <a class="waves-effect waves-light btn light-blue darken-3" id="delete" href="#deleteModal">delete</a></div>
      </div>

      <!-- Edit Modal Structure. Hidden until user clicks edit -->
      <div id="editModal" class="modal">
        <div class="modal-content">
          <h4>Edit</h4>
          <p> Please feel free to contribute any changes!</p>

          <!-- Edit Writers -->
            <div class="form-group">
              <label>Written By</label>
              <div class="col m4">
                <input id="writtenBy" name="writers" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Edit Language -->
            <div class="form-group">
              <label>Language</label>
              <div class="col m4">
                <input id="language" name="language" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect blue-grey lighten-3 btn-flat">Submit</a>
          <a href="#!" class="modal-action modal-close waves-effect blue-grey lighten-3 btn-flat">Cancel</a>
        </div> <!-- /.modal-content -->
      </div> <!-- /.modal -->

      <!-- Delete Modal Structure. Hidden until user clicks edit -->
      <div id="deleteModal" class="modal">
        <div class="modal-content">
          <h4>Delete</h4>
          <p> Are you sure? </p>

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect blue-grey lighten-3 btn-flat">Yes</a>
          <a href="#!" class="modal-action modal-close waves-effect blue-grey lighten-3 btn-flat">No</a>
        </div> <!-- /.modal-content -->
      </div> <!-- /.modal -->



    </div>

  </body>
</html>
