<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyrics</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/lyrics.js"></script>

  </head>
  <body>
    <h1> L<span id="y">y</span>rics </h1>

      <div class="lyrics-container">

        <div class="row">
         <div class="col s8 offset-s2 song-details"><span class="flow-text">${song.name}</span></div>
         <div class="col s4 offset-s6 song-details"><span class="flow-text">By ${song.artistName}</span></div>
       </div>

       <div class="row">
        <div class="col s8 offset-s2 song-details"><span class="flow-text">${song.lyrics}</span></div>
        <div class="col s4 offset-s6 song-details"><span class="flow-text">Contributed By ${lyrics.writers}</span></div>
      </div>

      <div class="lyrics-buttons">
        <a class="waves-effect waves-light btn light-blue darken-3">edit</a></div>
        <a class="waves-effect waves-light btn light-blue darken-3">delete</a></div>
      </div>

    </div>

  </body>
</html>
