<html>
<head>
	<title> Genre </title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CrudeLyrics</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/songs.js"></script>

</head>
<body>
		<!-- will be filled in from songs.js  -->
		<div class="container">
				<div class="row">

				</div>
			<div class="response"> </div>
		</div>


</body>
</html>
