<html>
<head>
	<title> Songs list</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Ranga|Shadows+Into+Light" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/songs.js"></script>
   
   <h2>Songs</h2>

</head>
<body>
 
 <div class="container">
  <div class="row">
   <div class="col s8 offset-s1 genre" id="songsNameOne"><span class="flow-text"><a href="#">Song Name</a></span></div>
    <ul>
    <li><a.class="hover"></a></li>
    <li><a class="waves-effect waves-purple btn" href="#">View Lyrics</a></li>
    <li><a class="waves-effect waves-orange btn" href="#">Add Lyrics</a></li>
    </ul>

    <div class="col s8 offset-s1 genre" id="songsNameTwo"><span class="flow-text"><a href="#">Song Name</a></span></div>
      <ul>
      <li><a.class="hover"></a></li>
      <li><a class="waves-effect waves-purple btn" href="#">View Lyrics</a></li>
      <li><a class="waves-effect waves-orange btn" href="#">Add Lyrics</a></li>
      </ul>

    <div class="col s8 offset-s1 genre" id="songsNameThree"><span class="flow-text"><a href="#">Song Name</a></span></div>
      <ul>
      <li><a.class="hover"></a></li>
      <li><a class="waves-effect waves-purple btn" href="#">View Lyrics</a></li>
      <li><a class="waves-effect waves-orange btn" href="#">Add Lyrics</a></li>
      </ul>
      
    </div>	
  </div>
 </div>
                \
</body>
</html>
