img {
  max-width: 100%;
  margin-top: 5px;
}


h1 {
  font-family: Ranga;
  text-align: center;
  letter-spacing: 4px;
  color: #424242;
  text-shadow: 2px 2px grey;
  padding: 50px 0;
}

#e {
  color: #0277bd;
  font-family: Shadows Into Light;
  font-size: 50px;
  font-weight: bold;
}

#lyrics {
  color: #424242;
  font-family: Bad Script;
  text-transform: lowercase;
  font-size: 90px;
}

#y {
  color: #0277bd;
}

div.genre {
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  /*margin: 10px 10px 10px 10px;*/
  margin: 20px;
  align-items: center;
}
