/*applies to all pages*/




/*applies to index.html*/
img#sf-banner {
  position: relative;
  width: 100%;
  top: 110px;
  margin-bottom: 50px;
}

h1.header-main {
  opacity: 0.8;
  color: white;
  font-size: 100px;
  letter-spacing: 20px;
  position: absolute;
  top: 100px;
  right: 100px;
  font-family: Righteous;
  font-weight: bold;
}

span#e {
  opacity: 0.8;
  font-family: Ranga;
  font-size: 60px;
}

div#lyrics {
  opacity: 0.8;
  color: white;
  font-size: 100px;
  letter-spacing: 20px;
  position: absolute;
  top: 300px;
  right: 80px;
  font-family: Righteous;
  font-weight: bold;
}

p.header-main-intro {
  color: white;
  opacity: 0.8;
  font-size: 40px;
  position: absolute;
  top: 700px;
  left: 300px;
  font-family: Shadows Into Light;
  font-weight: bold;
}

img.tile {
  padding-top: 80px;
}


/**/
img {
  max-width: 100%;
  margin-top: 5px;
}


h1 {
  font-family: Ranga;
  text-align: center;
  letter-spacing: 4px;
  color: #424242;
  text-shadow: 2px 2px grey;
  padding: 80px 0 0 0;
}





/*div.genre {
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  margin: 20px;
  align-items: center;
}*/

/*img.sf-banner {
  position: relative;
}*/

div.song-details {
  font-family: Shadows Into Light;
  background-color: white;
  align-items: center;
  margin: 5px;
  text-transform: none;
}

div.lyrics-buttons {
  display: inline-block;
  max-width: 50%;
  margin-left: 200px;
}

h2 {
  font-family: Ranga;
  text-align: center;
  margin: 0;
  letter-spacing: 4px;
  color: #424242;
  text-shadow: 2px 2px white;
  padding: 50px 0;
}


.song-output {
  font-size: 30px;
  text-align: center;
  font-family: Shadows Into Light;
  border-radius: 25px;
  border: 1px solid;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
  background-color: lightgrey;
}

.valyrics {
  font-family: Ranga;
  margin-bottom: 25px;
}

div.songs-row {
  margin-bottom: 80px;
}


div.submit-songs {
  width: 60%;
  float: right;
}

div.lyrics-output {
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: none;
}

span.song-name {
  text-shadow: 1px 1px grey;
}

div.writtenby {
  font-family: Ranga;
  color: #0089ec;
}

.toolbar {
  left: 60px;
  top: 30px;
}

.deleted {
  text-align: center;
}

#edit-lyrics {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 40px;
}
